body {
    background-color: rgb(18, 103, 38);
}



img {
    border: 5px solid rgb(64, 212, 88);
  }

h1 {
    font-family: "Arial", sans-serif;
    color: rgb(212, 221, 228);
    size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 10px solid green;
    
}
.about-paragraph {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(226, 180, 43);
    align-items: center;
    background-color: black;
}
a {
    cursor: pointer;
}